<!DOCTYPE html>
<html lang="en">
<head>
    <title>Foundry VTT Backups</title>
    <meta name="robots" content="noindex, nofollow">
    <link rel="icon" href="../icons/vtt.png">
    <link href="../fonts/fontawesome/css/all.min.css" rel="stylesheet" type="text/css" media="all">
    <link href="../css/style.css" rel="stylesheet" type="text/css" media="all">
    <script>
        function refreshPage() {
            setTimeout(function() {
                window.location.reload();
            }, {{BACKUP_REFRESH}});
        }

            refreshPage();
    </script>
</head>
<body class="vtt setup" style>
    <section id="setup">
<form id="setup-configuration" class="flexcol dark" autocomplete="off">
    <header>
        <h1>Foundry VTT Backups</h1>
    </header>

    <!-- Main Content Section -->
    <section id="config-tabs" class="content flexcol">

        <!-- Backups Tab -->
        <div class="tab active" data-tab="backups" data-group="components">
            <table>
                <thead>
                    <tr>
                        <th>BackupFile</th>
                        <th>Version</th>
                        <th>Date</th>
                        <th>Size</th>
                        <th>md5sum</th>
                        </tr>
                </thead>
                <tbody>
                   {{BACKUP_FILE_TABLE}}
                </tbody>
            </table>
        </div>
            <footer class="setup-footer flexrow">
                <h2><a class="install-package" href="/setup">setup</a></h2>
            </footer>
    </section>
</form>
</section>
    <footer class="watermark">
        VTTctl Version {{VTTCTL_MAJ}}.{{VTTCTL_MIN}} Build {{VTTCTL_BUILD}}
    </footer>
</body>
</html>